body { margin: 0; padding: 0; }
#map {
  position: absolute;
  top: 60px;
  bottom: 0;
  width: 100%;
}
/* city markers */
.cityMarker {
  position: absolute;
}

/* bivariate choropleths */

.info {
    height: 80%;
    width: 70%;
    padding: 6px 8px;
    font: 14px/16px 'Poppins', Helvetica, sans-serif;
    /*font-family: 'Poppins', sans-serif;*/
    background: white;
    background: rgba(255,255,255);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 3px;
    display: "inline-block";
    text-align: center;
    justify-content: center;
    overflow: auto;
}
.info h2 {
    margin: 0 0 5px;
    color: #000000;
    text-align: center;
}
.littleDiv {
  text-align: center;
}
.info h3 {
    margin: 0 0 5px;
    font-size: 2vw;
    color: #000000;
}
.info h4 {
    margin: 0 0 5px;
    font-size: 1.2vw;
    color: #000000;
}
.donut-legend {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 350px;
  height: 350px;
  font: 14px/16px 'Poppins', Helvetica, sans-serif;
  color: '#000000';
  z-index: 700;
  padding: 5px;
  display: block;
  background: rgba(255,255,255);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 3px;
}
.donut-legend p {
  font: 14px/16px 'Poppins', Helvetica, sans-serif;
  color: '#000000';
  padding: 5px;
  margin-left: 7px;
  line-height: 20px;
  font-size: 1.2em;
}
.donut-legend-scale {
  font: 14px/16px 'Poppins', Helvetica, sans-serif;
  color: '#000000';
  top: 150px;
  position: absolute;
  font-size: 1.2em;
  margin-left: 10px;
  left: 50px;
}
.donut-legend i {
  left: -50px;
  margin-left: 10px;
  margin-right: 20px;
  line-height: 40px;
  height: 20px;
  width: 40px;
  position: absolute;
}

.img {
    color: #555;
    background: white;
    background: rgba(255,255,255);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 3px;
    z-index: 100;
}
/*grid*/
.grid-container {
  z-index: 100;
  grid-template-columns: auto auto auto;
  background-color: #FFFFFF;
  padding: 30px 18px;
  margin: 3vw 0;
  bottom: 4vw;
  left: 0px;
  position: relative;
  border-left: 3vw solid #FFFFFF;
  border-bottom: 3vw solid #FFFFFF;
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.grid-item {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 2.8vw;
  text-align: center;
}
.grid-titem {
  border: 1px solid #FFFFFF;
  text-align: center;
}
.grid-container h3 {
  font: 14px/16px 'Poppins', Helvetica, sans-serif;
  color: #000000;
  padding: 5px 10px;
  margin: 1.8vw 0 1vw 0;
  line-height: normal;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  transform-origin: 0 0;
  transform: rotate(90deg);
  font-size: 1.3vw;
}
.grid-container h2 {
  font: 14px/16px 'Poppins', Helvetica, sans-serif;
  color: #000000;
  padding: 0 10px;
  margin: 3vw 1vw 0 0;
  line-height: normal;
  position: absolute;
  bottom: 0;
  top: 257px;
  left: 0;
  background: none;
  font-size: 1.3vw;
}

.grid-container i {
  width: 2vw;
  height: 2vw;
  float: left;
  margin-right: 2vw;
  opacity: 0.7;
}

.button {
  /*position: relative;
  background: #FFFFFF;
  border-radius: 1px;
  left: 10px;
  top: 250px;
  width: 120px;
  height: 60px;
  text-align: left;
  font: 14px/16px 'Poppins', Helvetica, sans-serif;
  color: '#000000';
  transition-duration: 0.4s;
  z-index: 600;
  line-height: 0px;
  display: none;*/

  font: 14px/16px 'Poppins', Helvetica, sans-serif;
  background-color: #FFFFFF;
  color: #000000;
  /*padding: 5px;*/
  font-size: 16px;
  border: none;
  display: inline-block;
  left: 10px;
  line-height: 0px;
  top: 250px;
  width: 160px;
  height: 80px;
  position: relative;
  z-index: 800;
  cursor: pointer;
  text-align: left;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.iconButton {
  position: relative;
  width: 30px;
  height: 30px;
  z-index: 610;
}

i {
    width: 25px;
    height: 30px;
    float: left;
}

.axis {
    font: 14px/16px 'Poppins', Helvetica, sans-serif;
    font-size: 0.001em;
    color: #FFFFFF;
}

.pie {
  /* Basic layout */
  /*display: inline-block;*/
  width: 3.75em;
  height: 3.75em;
  border-radius: 50%;
  /* A little styling */
  border: .15em solid #fff;
  box-shadow: 0 .075em .2em .05em rgba(0,0,0,.25);

  /* fixes a minor clipping issue in Chrome */
  background-origin: border-box;
  margin: -5px;
}
.piecon {
  left: 100px;
  top: 78px;
  /* Basic layout */
  display: inline-block;
  background: conic-gradient(#E81D26 0% 25%, #FFF81F 25% 50%, #5EC2EF 50% 75%, #0FB223 75% 100%);
  width: 40px;
  height: 40px;
  border-radius: 50%;

  /* A little styling */
  border: .15em solid #fff;
  box-shadow: 0 .075em .2em .05em rgba(0,0,0,.25);

  /* fixes a minor clipping issue in Chrome */
  background-origin: border-box;
  position: absolute;
  margin-right: 20px;
  z-index: 800;
}
.targetIcon {
  width: 4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #E81D26;
  border: 4.5px solid #FFF81F;
  box-shadow: 0 0 0 4.5px #5EC2EF, 0 0 0 9px #0FB223;
  padding: 5px;
  margin-left: 5px;
}
.targetIconHolder {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  left: 140px;
  top: 73px;
  position: absolute;
  background-color: #fff;
  border: 0px;
  z-index: 800;
}
h4 {
  font: 14px/16px 'Poppins', Helvetica, sans-serif;
  color: #000000;
  padding: 5px 10px;
  background: none;
  margin-left: -20px;
}

.donutColorLegend {
  line-height: 0;
  padding: 0;
}

.xButton {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  right: 0.8vw;
  top: 0.8vw;
  z-index: 850;
  font: 14px/16px 'Poppins', Helvetica, sans-serif;
  color: #FF0000;
}

.xButton h2 {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  z-index: 850;
  font: 14px/16px 'Poppins', Helvetica, sans-serif;
  color: #FF0000;
  font-size: 2vw;
}

.popup {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  right: 50px;
  top: 130px;
  z-index: 900;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 320px;
  background-color: #212121;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  border: 2px solid #212121;
  padding: 8px 0;
  position: absolute;
  z-index: 900;
  bottom: 125%;
  /*box-shadow: 0 0 15px rgba(0,0,0,0.2);*/
  /*left: 50%;*/
  margin-left: -177px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color:  #212121 transparent transparent transparent;
  /*box-shadow: 0 0 15px rgba(0,0,0,0.2);*/
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.showLegendButton {
  font: 14px/16px 'Poppins', Helvetica, sans-serif;
  color: #000000;
  background: #FFFFFF;
  position: absolute;
  border: 5px solid #FFFFFF;
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 5px;
  left: 0px;
  bottom: 60px;
  z-index: 800;
  display: none;
  width: 100;
  height: 100;
  cursor: pointer;
}

.chorMenu {
  /*font: 14px/16px 'Poppins', Helvetica, sans-serif;
  color: #000000;
  background: #FFFFFF;
  position: absolute;
  border: 5px solid #FFFFFF;
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 5px;
  left: 10px;
  bottom: 350px;
  z-index: 800;
  width: 100;
  height: 100;
  cursor: pointer;*/
  display: none;
  top: 60px;
  left: 100px;
  z-index: 800;
}
.dropbtn {
  font: 14px/16px 'Poppins', Helvetica, sans-serif;
  background-color: #FFFFFF;
  color: #000000;
  padding: 16px;
  font-size: 16px;
  border: none;
  display: block;
  top: 60px;
  left: 100px;
  width: 300px;
  height: 60px;
  position: absolute;
  z-index: 800;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 3px;
}
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
  color: #FFFFFF;
}
.dropdown-content {
  font: 14px/16px 'Poppins', Helvetica, sans-serif;
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  color: #000000;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  top: 70px;
  left: 100px;
  z-index: 801;
}

.chorOption {
  display: block;
  background-color: #FFFFFF;
  font: 14px/16px 'Poppins', Helvetica, sans-serif;
  color: black;
  padding: 12px 16px;
  font-size: 20px;
  line-height: normal;
  cursor: pointer;
}
.chorOption:hover {
  background-color: #ddd;
  color: #000;
}
.chorOption:focus {
  background-color: #000000;
}
.chorOption i {
    width: 25px;
    height: 25px;
    float: left;
}
.show {display:block;}

.legend-key {
  display: inline-block;
  border-radius: 20%;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  opacity: 0.8;
}
.designMenu {
  display: block;
  top: 10px;
  margin-left: 100px;
  z-index: 800;
}

.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1002; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
  text-align: center;
  justify-content: center;
}

/* Modal Content/Box */
.modal-content {
  background-color: white;
  margin: 2% auto; /* 15% from the top and centered */
  padding: 10px;
  border: 1px solid #000000;
  width: 80%; /* Could be more or less, depending on screen size */
  font: 14px/16px 'Poppins', Helvetica, sans-serif;
  color: black;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.modal-content p {
  padding: 10px;
  margin-right: 20px;
  margin-left: 20px;
  font: 14px/16px 'Poppins', Helvetica, sans-serif;
  font-size: 1.5vw;
  line-height: normal;
  text-align: left;
}
.modal-content h3 {
  color: #3B4994;
  margin: 2% auto; /* 15% from the top and centered */
  padding: 10px;
  font: 14px/16px 'Poppins', Helvetica, sans-serif;
  font-size: 3vw;
  line-height: normal;
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.exploreBtn {
  background-color: '#3B4994';
  border-radius: 2px solid white;
  font: 14px/16px 'Poppins', Helvetica, sans-serif;
  text-align: center;
  display: inline-block;
  font-size: 2em;
}

.exploreBtnContainer:hover {
  background: #1c2970;
  color: white;
  box-shadow: 0 0 0px rgba(0,0,0,0.2);
  border-radius: 3px;
}

.exploreBtnContainer {
  height: 85px;
  width: 300px;
  font: 14px/16px 'Poppins', Helvetica, sans-serif;
  background: #3B4994;
  color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 3px;
  display: "inline-block";
  text-align: center;
  justify-content: center;
  margin: 2% auto;
  padding:10px;
  cursor: pointer;
}

.neighborhoodLabel {
  display: none;
  font-size: 14px;
  opacity: 0;
  text-shadow: 0px 0px 6px rgba(0, 0, 0);
  font-family: 'Asap', sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;

}

.top10 {
  opacity: 1;
  font-size: 18px;
  text-shadow: 0px 0px 6px rgba(0, 0, 0);
  font-family: 'Asap', sans-serif;
  color: #FFFFFF;
  line-height: 20px;
  text-transform: uppercase;
  display: none;
}

.fade-in-text {
  opacity: 1;

  animation: fadeIn ease-out 1s;
  -webkit-animation: fadeIn ease-out 1s;
  -moz-animation: fadeIn ease-out 1s;
  -o-animation: fadeIn ease-out 1s;
  -ms-animation: fadeIn ease-out 1s;
}

.fade-in-text-top10 {
  display: inline-block;
  opacity: 1;

  animation: fadeIn ease-out 1s;
  -webkit-animation: fadeIn ease-out 1s;
  -moz-animation: fadeIn ease-out 1s;
  -o-animation: fadeIn ease-out 1s;
  -ms-animation: fadeIn ease-out 1s;
}

.fade-out-text {
  display: inline-block;
  opacity: 0;

  animation: fadeOut ease-out 1s;
  -webkit-animation: fadeOut ease-out 1s;
  -moz-animation: fadeOut ease-out 1s;
  -o-animation: fadeOut ease-out 1s;
  -ms-animation: fadeOut ease-out 1s;
}

.fade-out-text-top10 {
  display: inline-block;
  opacity: 0;

  animation: fadeOut ease-out 1s;
  -webkit-animation: fadeOut ease-out 1s;
  -moz-animation: fadeOut ease-out 1s;
  -o-animation: fadeOut ease-out 1s;
  -ms-animation: fadeOut ease-out 1s;
}

/* FADE IN */

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* FADE OUT */
@keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}

@-moz-keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}

@-webkit-keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}

@-o-keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}

@-ms-keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}

.addLayerBtn {
  font: 14px/16px 'Poppins', Helvetica, sans-serif;
  background-color: #FFFFFF;
  color: #000000;
  padding: 16px;
  font-size: 16px;
  border: none;
  display: inline-block;
  top: 10px;
  left: 100px;
  width: 300px;
  height: 60px;
  position: absolute;
  z-index: 800;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 3px;
}
.addLayerBtn:hover, .addLayerBtn:focus {
  background-color: #2980B9;
  color: #FFFFFF;
}


.navbar {
  background:#000000;
  height: 60px;
}
.nav-link {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Helvetica Light', 'Helvetica', Arial, sans-serif;
  background-color: #000000;
  border-top: 3px solid #ffffff;
  width: 100px;
  text-align:center;
}
.navbar-brand {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Helvetica Light', 'Helvetica', Arial, sans-serif;
  background-color: #000000;
}
.nav-ref {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Helvetica Light', 'Helvetica', Arial, sans-serif;
  background-color: #000000;
  font-style: italic;
  margin-left:50px;
}
.nav-ref:hover {
  color: #a3a3a3;
}
.nav-link:hover {
  color: #a3a3a3;
  border-top: 3px solid #a3a3a3;
}
.navbar-brand:hover {
  color: #ffffff;
}
.navbar-collapse {
  justify-content: flex-end;
}
.navbar .active {
  border-top: 3px solid #ffd519;
  color: #ffd519;
}

@media (max-width: 575.98px) {
    .description {
        left: 0;
        padding: 0 15px;
        position: absolute;
        top: 10%;
        transform: none;
        text-align: center;
    }

    .description h1 {
        font-size: 2em;
    }

    .description p {
        font-size: 1.2rem;
    }

    .features {
        margin: 0;
    }
}

.jumbotron h1 {
  font-size: 2.5em;
  line-height:0px;
}

.jumbotron h2 {
  font-size: 2em;
  text-align:left;
  line-height: 3;
  margin: 10px;
}

.jumbotron p {
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 10px;
}

.dropup {
  margin-left: 20px;
  z-index: 900;
}

.btn {
  font: 14px/16px 'Poppins', Helvetica, sans-serif;
  color: white;
  font-size: 20px;
  background-color: black;
  width: 200px;
}

.btn:hover {
  background-color: grey;
  color: white;
}

.toggleBtnHolder {
  margin-left: 20px;
}

.activated {
  background-color: #37db7b;
  color: #000;
  font: 14px/16px 'Poppins', Helvetica, sans-serif;
  font-size: 20px;
  width: 200px;
}

.selected {
  background-color: #000000;
  color: #FFFFFF;
  font: 14px/16px 'Poppins', Helvetica, sans-serif;
  font-size: 20px;
  padding: 12px 16px;
}

/*.activated:hover, .activated:focus {
  background-color: #c7ffde;
  color: #000;
}*/
